# IDEs y Editores
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Backend (Spring Boot / Maven)
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/.mvn/
**/mvnw
**/mvnw.cmd
.apt_generated/
.classpath
.factorypath
.project
.settings/
**/*.db
**/bin/

# Frontend (Angular / Node)
**/node_modules/
**/.angular/
**/dist/
**/.cache/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.env
**/.env.*

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs y Temporales
*.log
**/logs/
**/tmp/
**/temp/
